/* SETUP */

body, html {
  font-family: 'Raleway', sans-serif !important;
}

h1, h2, h3, h4, h5, h6  {
  font-family: 'Amiri', serif !important;
}

html, body {
  margin: 0;
  padding: 0;
}


/* ON COMMENCE AVEC LA PREMIeRE PAGE QU'ON APELLE (LANDING-P) */

/* BACKGROUND */

.landing-p {
  background-image: url('https://images.unsplash.com/photo-1510824737382-5f31941bcb2d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d414db32c9204c33ede7033c1440c79&auto=format&fit=crop&w=1050&q=80');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 140vh;
}

/* BACKGROUND */

/* #1 NAVLIST */

.nav-list ul {
  list-style-type: none;
  text-align: right;
  padding: 50px 100px;
  margin: 0;
}

.nav-list li {
  display: inline;
  padding: 0px 10px;
  color: rgb(197, 166, 0)
}

.nav-list .star {
  font-size: 20px;
}

/* #1 NAVLIST */

/* #2 LOGO */

.logo img {
  width: 300px;
  position: absolute;
  top: 15px;
  left: 150px;
}

/* #2 LOGO */

/* #3 TITRE */

.titre {
  padding-left: 165px;
  padding-top: 100px;
  color: rgb(80, 80, 80);
  opacity: 0.8;
  position: relative;
}

.titre h1 {
  font-size: 80px !important;
}

.titre img {
  width: 85px;
  position: absolute;
  top: 175px;
}

.titre ._titre {
  position: absolute;
  top: 168px;
  left: 265px;
}

.sous-titre {
  padding-left: 165px;
  padding-top: 80px;
  color: rgb(201, 160, 73);
  font-size: 17px;
  font-weight: lighter;
  font-style: italic;
  text-shadow: -.4px 0 grey, 0 .4px grey, .4px 0 grey, 0 -.4px grey;
}

/* #3 TITRE */

/* SECONDE PARTIE : LE CADRE JUXTAPOSÉ */
.cadre {
  position: relative;
}

.cadre img {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -200px;
}

.cadre p {
  width: 30%;
  text-align: center;
  position: absolute;
  top: 5px;
  left: 670px;
}

/* SECONDE PARTIE : LE CADRE JUXTAPOSÉ */

/* TROISIEME PARTIE : LA BOUTEILLE */

.titre-bottle h1 {
  padding-top: 30px;
  text-align: center;
  color: rgb(46, 56, 56);
  font-size: 50px;
}

.titre-bottle h2 {
  margin-top: 0px;
  text-align: center;
  font-size: 17px;
  font-family: 'Raleway', sans-serif ;
  font-weight: lighter;
  color: rgb(221, 213, 192);
  padding-bottom: 160px;
}

.titre-year {
  text-align: center;
}

.img-field img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-bottle p {
  text-align: center;
  margin-bottom: 50px;
}

.button {
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  border: 1px solid grey;
  padding-top: 10px;
  border-radius: 25px;
}

.bouteille-img {
  position: relative;
}

.bouteille-img img {
  position: absolute;
  width: 700px;
  left: -155px;
  top: -100px;
}

.avatar img {
  width: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}

.avatar h6 {
  text-align: center;
  padding-top: 10px;
}

.temoin img {
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.temoin p {
  text-align: center;
  padding-top: 50px;
}

.rating img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-bottom: 50px;
}


.arrow ul li {
  display: inline;
}

.arrow img {
  width: 10%;
}

.arrow {
  margin-left: 60px;
}

.arrow .mirror_arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  margin-left: 100px;
}



/* TROISIEME PARTIE : LA BOUTEILLE */

/* QUATRIEME PARTIE : LE TEXT */

.grid-text img {
  width: 100vw;
  padding-top: 50px;
}

.grid-text2 img {
  width: 100vw;
  margin-top: -20px;
}

/* QUATRIEME PARTIE : LE TEXT */


















